.details{
     height: 100%;
     width: 30%;
     border-radius: 0px 20px 20px 0px;
}


.loginbutton{
     height: 40px;
     width: 20%;
     border-radius: 10px;
     border: none;
     margin-left: 75%;
     margin-top: 5%;
     background-color: blue;
     color: white;
     cursor: pointer;
}

.outer-div{
     height: 700px;
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.detail-image{
     height: 250px;
     width: 60%;
     background-image: url('../detailimage.jpeg');
     background-size: cover;
     margin-top: 2%;
     /* border: 1px solid black; */
}

.show-persentage{
     width: 60%;
     display: flex;
     justify-content: space-between;
     margin-left: 7%;
     margin-top: 10%;
}

.information{
     height: auto;
     width: 70%;
     margin-top: 10%;
}

.information p{
     font-size: medium;
}

.plant-options{
     height: auto;
     width: 70%;
     display: flex;
     margin-top: 10%;
     justify-content: space-between;
}

.arrow-button{
     height: 50px;
     width: 20%;
     border: none;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.plant-div{
     height: 50px;
     width: 50%;
     background-color: black;
     border-radius: 10px;
     color: whitesmoke;
     display: flex;
     justify-content: center;
     align-items: center;
}