.timer-page{
     display: flex;
     height: 100%;
     width: 95%;
     border-radius: 0px 20px 20px 0px;
}


.set-time{
     height: 100%;
     width: 70%;
     border-right: 1px solid gray;
     padding-left: 3%;
}

.top-text{
     margin-top: 2.5%;
     letter-spacing: 0;
}

.top-text p,h1{
     margin: 0;
     padding: 0;
}


.main-timer{
     margin-top: 5%;
     height: 80%;
     width: 100%;
     display: flex;
}

.mainTimer-div1{
     height: 100%;
     width: 33%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.mainTimer-div2{
     height: 100%;
     width: 60%;
}

.outr-clock{
     height: 220px;
     width: 220px;
     margin-top: 20%;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 20px solid #336f8f;
     box-shadow: 5px 5px 50px 5px #336580;
}

.clock{
     height: 201px;
     width: 201px;
     border: 10px solid red;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.onof-button{
     height: 8%;
     width: 30%;
     border-radius: 10px;
     border: none;
     background-color: blue;
     color: whitesmoke;
     margin-top: 10%;
     cursor: pointer;
     font-weight: bold;
}

.timer-options{
     height: 50%;
     width: 70%;
     margin-top: 15%;
     margin-left: 17%;
}