.assistant{
     height: 100%;
     width: 70%;
     border-right: 1px solid gray;
     padding-left: 3%;
}

.div1{
     display: grid;
     margin-top: 2.5%;
     grid-template-columns: 2fr 1fr 1fr;
}


.div1 p, h1 {
     margin: 0;
     padding: 0;
     margin-top: 2px;
     letter-spacing: 0;
     font-family: Arial, Helvetica, sans-serif;
}

.icons{
     height: 30px;
     width: 30px;
     color: gray;
     margin-left: 30%;
}

.options{
     display: grid;
     justify-content: center;
     align-items: center;
     grid-template-columns: 1fr 1fr 1fr;
     height: 53px;
     width: 200px;
     grid-column: 3;
     border: 1px solid gray;
     border-radius: 50px;
}

.profile{
     height: 94%;
     width: 94%;
     display: flex;
     justify-content: flex-end;
}

.inner-profile{
     height: 94%;
     width: 74%;
     background-image: url('../profile.png');
     background-size: cover;
}


/* Air temp and Soul Moisture  */

.showWeather{
     height: auto;
     width: 100%;
     margin-top: 4%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;
}

.temp{
     height: 170px;
     width: 280px;
     border: 1px solid gray;
     border-radius: 20px;
}

.air{
     background-color: #8ecaea;
}

.soil{
     background-color: antiquewhite;
}

.pre{
     background-color: 	#7cd2a0;
}

.report-icons{
     height: 35px;
     width: 35px;
     margin-top: 20px;
     margin-left: 20px;
}

.measurment{
     font-size: 30px;
     margin-top: 50px;
     margin-left: 20px;
     font-weight: bold;
     line-height: 0;
}

.nameofmeasurment{
     font-weight: bold;
     margin-left: 20px;
     line-height: 0;
}

.condition{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     top: -30px;
     height: 25px;
     width: 60px;
     border: 1px solid black;
     border-radius: 15px;
     margin-left: 73%;
}

.condition p{
     word-spacing: 0;
}


/* field section */

.field-text{
     height: 8%;
     width: 100%;
     margin-top: 40px;
     line-height: 0;
}


.field-text h2{
     font-weight: bold;
}

.field-text button{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     margin-left: 80%;
     top: -40px;
     height: 40px;
     width: 150px;
     border-radius: 50px;
     border: none;
     background-color: whitesmoke;
}

.map-icon{
     margin-right: 5%;
}

.field{
     height: 353px;
     width: 95.5%;
     background-image: url('../fieldimage.jpg');
     background-size: cover;
}